* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: bolder;
}

p,
button,
li a {
  font-size: 1.8rem;
}
button,
li a {
  cursor: pointer;
}

ul li:hover {
  color: #3882f6;
  border: 1px solid #3882f6;
}

main {
  font-size: 2em;
}

.main,
li a {
  color: #e5e7eb;
}

button,
.call-to-action {
  background-color: #3882f6;
}

ul,
.image-container,
.call-to-action {
  display: flex;
  flex-wrap: wrap;
}

li a,
.information,
.image-container > div,
.footer {
  text-align: center;
}

h2,
.testimonial blockquote,
.quoter {
  font-size: 3.6rem;
}

.hero,
.footer,
nav {
  background-color: #1f2937;
}

.hero,
.footer,
nav,
.call-to-action h2,
button {
  color: #f9faf8;
}

.image-container,
.call-to-action {
  align-items: center;
}

.testimonial blockquote,
.quoter {
  color: #1f2937;
}

h1 {
  font-size: 4.8rem;
}

button {
  border: none;
  padding: 1rem 3rem;
  margin-top: 2rem;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin-right: 8rem;
}
li {
  float: right;
}

li a {
  display: block;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

h2 {
  color: #1f2937;
  margin: 3rem 0;
}

.hero {
  padding: 0 8rem 4rem 10rem;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hero aside {
}

.hero aside h1 {
  margin-bottom: 20px;
}

.hero aside p {
  max-width: 80%;
  line-height: 1.6;
  margin-bottom: 40px;
}

.hero figure {
  border: 2px solid white;
}

.hero img {
  width: 20rem;
  justify-self: end;
}

.information {
  margin-top: 50px;
  /* border: 2px solid red; */
}

.information h2 {
  margin-bottom: 0;
}
.information img {
  object-fit: cover;
  height: 20rem;
  width: 20rem;
  cursor: pointer;
  margin: 0 1.5rem;
}

.information p {
  color: #b5b9be;
  padding-top: 1rem;
}

.image-container {
  justify-content: center;
  margin: 60px auto 80px auto;
}

.image-container > div {
  margin-bottom: 10rem;
}

.testimonial {
  padding: 10rem 15rem;
  background-color: #e5e7eb;
}

.testimonial blockquote {
  font-weight: lighter;
  font-style: italic;
}

.quoter {
  font-weight: bold;
}

.call-to-action {
  margin: 5rem 10rem;
  padding: 5rem 10rem;
  justify-content: space-between;
}

.call-to-action h2 {
  text-align: left;
}

.call-to-action button {
  border: 3px solid #f9faf8;
}

.footer {
  padding: 2rem;
}

.logo {
  padding-left: 5rem;
  width: 20rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .information,
  .call-to-action {
    display: block;
  }
}

@media screen and (max-width: 512px) {
  .testimonial blockquote,
  .quoter {
    font-size: 1.5rem;
  }

  .hero,
  .hero article {
    text-align: center;
  }

  h2 {
    font-size: 3.6rem;
  }

  ul {
    margin: 0;
  }

  .hero {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
  }

  .hero img {
    margin-top: 5rem;
  }

  .hero .main {
    text-align: center;
  }

  .call-to-action {
    padding: 5rem;
    margin: 5rem;
  }
  .testimonial {
    padding: 2rem 5rem;
  }
  .logo {
    padding: 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 920px) {
  .information {
    max-width: 70%;
    margin: 0 auto;
  }

  .information img {
    margin: 20px 20px 0 20px;
  }

  .information h2 {
    margin-top: 80px;
  }

  .image-container {
    margin-top: 15px;
  }
}
