 * {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: bolder;
}

p,
button,
li a {
  font-size: 1.8rem;
}

.main,
li a {
  color: #e5e7eb;
}

button,
.call-to-action {
  background-color: #3882f6;
}

ul,
.image-container,
.call-to-action,
.hero {
  display: flex;
  flex-wrap: wrap;
}

li a,
.information,
.image-container > div,
.footer {
  text-align: center;
}

h2,
.testimonial p,
.quoter {
  font-size: 3.6rem;
}

.hero,
.footer,
nav {
  background-color: #1f2937;
}
.hero,
.footer,
nav,
.call-to-action h2,
button {
  color: #f9faf8;
}

.image-container,
.call-to-action {
  align-items: center;
}

.testimonial p,
.quoter {
  color: #1f2937;
}


h1 {
  font-size: 4.8rem;
}

button {
  border: none;
  padding: 1rem 3rem;
  margin-top: 2rem;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin-right: 8rem;
  overflow: hidden;
  justify-content: end;
}
li {
  float: right;
}

li a {
  display: block;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

h2 {
  color: #1f2937;
  margin: 3rem 0;
}
.hero {
  padding: 4rem 8rem 4rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero img {
  width: 20rem;
  justify-self: end;
}

.information img {
  object-fit: cover;
  height: 20rem;
  width: 20rem;
  cursor: pointer;
  margin: 0 1.5rem;
}

.information p {
  color: #b5b9be;
  padding-top: 1rem;
}

.image-container {
  justify-content: center;
}

.image-container > div {
  margin-bottom: 10rem;
}

.testimonial {
  padding: 10rem 15rem;
  background-color: #e5e7eb;
}

.testimonial p {
  font-weight: lighter;
  font-style: italic;
}

.quoter {
  font-weight: bold;
  text-align: end;
}

.call-to-action {
  margin: 5rem 10rem;
  padding: 5rem 10rem;
  justify-content: space-between;
}

.call-to-action h2 {
  text-align: left;
}

.call-to-action button {
  border: 3px solid #f9faf8;
}

.footer {
  padding: 2rem;
} 

@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .information,
  .call-to-action {
    display: block;
  }
}

@media screen and (max-width: 512px) {
  .testimonial p,
  .quoter {
    font-size: 1.5rem;
  }

  .hero,
  .hero article {
    text-align: center;
  }

  h2 {
    font-size: 3.6rem;
  }

  ul {
    margin: 0;
  }

  .hero {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero img {
    margin-top: 5rem;
  }

  .call-to-action {
    padding: 5rem;
  }
  .testimonial {
    padding: 2rem 5rem;
  }
}
