.aboutTitle{
    font-size: 30px;
    text-align: center;
    padding: 20px;

}

.textcontainer{
  text-align: center;
  
  }

.journey:hover{
    padding:10px;
    color: black;
    box-shadow: 5px 5px 5px 5px black;
}

.hiddengimmick{
    visibility:hidden;
}
 .hiddengimmick:hover{
    visibility:visible;
}
